<head>
  <meta charset="utf-8" />
  <meta name="description" content={{ .Description }}>
  <meta name="keywords" content={{ .Keywords }}>
  <title>{{ .Title }}</title>

  {{ if (ne .Params.featureImage "")}}
  <link rel="image_src" href="/{{ .Params.featureImage }}" />
  {{ else }}
  <link rel="image_src" href="/{{ .Site.Params.logo }}" />
  {{ end }}

  {{ if (ne .Site.Params.Analytics.plausibleDomain "")}}
  <script defer data-domain={{ .Site.Params.Analytics.plausibleDomain }} src={{ .Site.Params.Analytics.plausibleSrc }}></script>
  {{ end }}

  {{ range .Site.Params.mastodon.accounts }}
  <link rel="me" href="{{ . }}"/>
  {{ end }}

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Themify -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "themify/themify.css" | absURL }}">

  {{ "<!-- Critical CSS -->" | safeHTML }}
  {{ $stylex := resources.Get "scss/critical.scss" | css.Sass | minify }}
  <link href="{{ $stylex.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
</head>
